%div.mainContent{"style" => "background-color:#EBE9EA; width: 100%"}
	%p{"style" => "text-align:center"}
		%img{'src' => 'http://instajobs.io/assets/images/logo-sm.png'}
	.content{"style" => "background-color:#fff;width: 40em;margin:auto;border-radius:1em;"}
		%p.head{"style" => "background-color:#0F2938;color:#fff;text-align:center;padding-top:1em;padding-bottom:1em;"}
			Congrats you have a job matching
		%div{"style" => "text-align:center;margin:auto;width:10em;height:10em;border-radius:100%;border:5px solid #0F2938"}
			%div.like
				%img{"src" => "http://instajobs.io/assets/images/logo-only.png", "style" => "margin-top:-1em;"}
			%div.user
				%img{"src" => "#{@thumb}", "style" => "border-radius:100%;float:left;margin-left:-1em;margin-top:1.5em;"}
			%div.job
				%img{"src" => "http://instajobs.io/assets/images/png/glyphicons-500-family.png", "style" => "border-radius:100%;float:right;margin-right:-1em;margin-top:2.5em;"}
			%div.thumb{"style" => "width:2em;height:2em;margin:auto"}
				%img{"src" => "http://instajobs.io/assets/images/png/glyphicons-344-thumbs-up.png", "style" => "border-radius:100%;margin-top:8em;background-color:#fff;"}
		%div{:style => "padding-left:1em"}
			%h2{"style" => "text-decoration:underline;color:#0F2938"}
				=@job.title
		%div{:style => "padding-left:1em;padding-rigth:1em"}
			%h3{"style" => "text-decoration:underline;color:#0F2938"}
				Job Details
			%table{"style" => "margin:auto"}
				%tr
					%td
						%p
							Description -
							%span{"style" => "color:#0F2938;font-weight:bold"}
								=@job.description
						%p 
							Salary -
							%span{"style" => "color:#0F2938;font-weight:bold"}
								=@job.salary 
								=@job.hours
						%p 
							Address -
							%span{"style" => "color:#0F2938;font-weight:bold"}
								=@job.address
						%p
							Contact Email -
							%span{"style" => "color:#0F2938;font-weight:bold"}
								=@job.email
						%p
							Contact Number -
							%span{"style" => "color:#0F2938;font-weight:bold"}
								=@job.number
			%p{:style => "text-align:center"}
				%a{:href => @link, :style=>"text-decoration:none;background-color:#C11A2F;color:#fff;border-radius:1px;padding:0.5em;"}
					View Link