%div.mainContent{"style" => "background-color:#EBE9EA; width: 100%"}
	%p{"style" => "text-align:center"}
		%img{'src' => 'http://intajobs.com/assets/images/logo-sm.png'}
	.content{"style" => "background-color:#fff;width: 40em;margin:auto;border-radius:1em;"}
		%p.head{"style" => "background-color:#0F2938;color:#fff;text-align:center;padding-top:1em;padding-bottom:1em;"}
			Account Password for Legacy Login
		%div{:style => "padding-left:1em;padding-rigth:1em"}
			%p
				Your password for account is 
			%span{"style" => "color:#000;font-weight:bold;"}
				=@password			
